In [2]:
import pandas as pd
df=pd.read_csv('data.csv',encoding='EUC-KR')
df

   name  age  score
0   Kim   27     92
1   Lee   33     98
2  Park   19     87

In [6]:
import pandas as pd
df=pd.read_excel('data.xlsx')
df

   name  age  score
0   Kim   27     92
1   Lee   33     98
2  Park   19     87