In [3]:
import pandas as pd
df=pd.DataFrame({'A':[1,4,7],'B':[2,5,8],'C':[3,6,9]})
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
import pandas as pd
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

In [7]:
import pandas as pd
df=pd.DataFrame({'지역':['서울','부산','대전','서울','대전','서울'],'학년':[1,1,2,2,3,3],'평점':[45,42,39,40,30,35]})
df.groupby('학년').mean()

      평점
학년
1   43.5
2   39.5
3   32.5

In [13]:
import pandas as pd
df=pd.read_excel('data2.xlsx')
df.value_counts('반')

반
A반    5
B반    5
dtype: int64

In [25]:
import pandas as pd
df=pd.read_excel('data2.xlsx')
df.fillna({'국어':'NO','수학':'NO','응시여부':0,'확인여부':0})

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
1  B반  김이정  여  78.0   45.0   응시   확인
2  A반  오지수  남    NO     NO   응시   확인
3  B반  김선후  남  33.0   44.0   응시    0
4  A반  하진희  여   0.0   85.0   응시    0
5  A반  강현진  남    NO     NO    0    0
6  B반  김진솔  남  90.0   89.0   응시   확인
7  B반  박서준  여  78.0   45.0   응시   확인
8  A반  김성희  남    NO     NO    0   확인
9  B반  이지서  여  86.0  100.0   응시   확인