In [38]:
import pandas as pd
df=pd.read_excel('BoxOffice.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB

In [36]:
import pandas as pd
df=pd.read_excel('BoxOffice.xlsx')
df.describe()

               순위           매출액           관객수         스크린수           상영횟수
count  200.000000  2.000000e+02  2.000000e+02   200.000000     200.000000
mean   100.500000  4.890116e+10  6.254172e+06  1136.600000  121178.900000
std     57.879185  2.413008e+10  2.870389e+06   551.556063   51376.273351
min      1.000000  2.147669e+10  3.379762e+06   238.000000   38456.000000
25%     50.750000  3.147074e+10  4.159099e+06   705.750000   85929.500000
50%    100.500000  4.119544e+10  5.274731e+06  1055.000000  110116.500000
75%    150.250000  5.735942e+10  7.284793e+06  1434.250000  143186.000000
max    200.000000  1.396555e+11  1.761584e+07  2948.000000  355756.000000

In [37]:
import pandas as pd
df=pd.read_excel('BoxOffice.xlsx')
df.value_counts('대표국적')

대표국적
한국    116
미국     82
영국      1
일본      1
dtype: int64

In [42]:
import pandas as pd
df=pd.read_excel('BoxOffice.xlsx')
df[df['대표국적']=='영국']

,순위,영화명,개봉일,매출액,관객수,스크린수,상영횟수,대표국적,국적,배급사
194,195,어바웃 타임,2013-12-05,25312684300,3449451,568,67267,영국,영국,유니버설픽쳐스인터내셔널 코리아(유)

In [43]:
import pandas as pd
df=pd.read_excel('BoxOffice.xlsx')
df.groupby('대표국적')['순위'].min()

대표국적
미국      5
영국    195
일본    172
한국      1
Name: 순위, dtype: int64